<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glimmerthreads">

    <application
        android:allowBackup="true"
        android:icon="@drawable/glimmer_thread_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Display_Discount_To_Get"></activity>
        <activity android:name=".Update_Discount" />
        <activity android:name=".Display_All_Data" />
        <activity android:name=".Image_Display" />
        <activity android:name=".Image_View" />
        <activity android:name=".Get_Discount_Code" />
        <activity android:name=".Sales" />
        <activity android:name=".Bus" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>